html
	head
	body
		form
			input(name= 'title', type='text', placerholder='title')
			br
			input(name = 'text', type='text', placerholder='Text')
			br
			button(type='submit', formmethod='post') Submit

		script(src="jquery-3.1.1.js")