html
	head
	body
	h1 This message had already been posted. Are you a robot?
	a(href="http://i1.kym-cdn.com/photos/images/facebook/000/348/790/b3f.jpg")
		button(type='submit', formmethod='post') I am a robot

